*{
    margin: 0;
    padding: 0;
}
h1{
    padding: 10px;
    font-style: italic;
    color: #ffffff;
    text-align: center;
    background-color: #2f336e;
}
#profile{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 80px;
    border: 1px solid black;
    width: max-content;
}
#logout{
margin-left: 20px;
padding: 14px;
padding-left: 20px;
padding-right: 20px;
border: 1px solid #2f336e;
background-color: #2f336e;
color: #ffffff;
font-size: 20px;
font-weight: 400;
border-radius: 30px;
cursor: pointer;
}